@import "../style/style.scss";

.input{
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: $FontSize;
    margin: 1rem;
    padding: 1rem;

    .input-bar{
        span{
            display: none;
            color: red;
        }
        &__invalid{
            border: 2px solid red;
        }
        background-color: $LightGrayishCyan2;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 10px;
        input{
            border: none;
            outline: none;
            text-align: right;
            font-family: 'Space Mono', monospace;
            font-weight: 700;
            font-size: $FontSize;
            color: $VeryDarkCyan;
            background-color: $LightGrayishCyan2;
            
        }
        img{
            height: 20%;
            align-self: center;
            padding-left: 1rem;
        }
    }

    .tip-pad{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2, 1fr);
        //grid-gap: 5px;
            .percent-button{
                font-weight: 700;
                background-color: $VeryDarkCyan;
                margin: .5rem;
                padding: .5rem;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                width: 5rem;
                text-align: center;
    
                &__target{
                    background-color: $strongCyan;
                    color: $VeryDarkCyan;
                }
            }
            input{
                color: white;
                font-family: 'Space Mono', monospace;
                outline: none;
                border: none;
                padding: 0;
            }
            
        }
}

.right-side{
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: $FontSize;
    margin: 1rem;
    padding: 1rem;

    background-color: $VeryDarkCyan;
    border-radius: 10px;
    margin: 2rem;
    padding: 1.5rem;
    flex-grow: 1;

    .container{
        text-align: center;

        button{
            color: white;
            cursor: pointer;
            font-family: 'Space Mono', monospace;
            font-weight: 500;
            align-self: center;
            background-color: $strongCyan;
            margin: .5rem;
            padding: .5rem 1rem .5rem 1rem;
            border-radius: 5px;
            color: $VeryDarkCyan;

            &:disabled{
                pointer-events: none;
                opacity: .4;
            }
        }
    }
}

.display{
    display: flex;
    justify-content: space-between;
    color: $strongCyan;
    border-radius: 10px;

    p{
        padding: 0;
        margin: .2rem;
        color: $LightGrayishCyan;
        font-size: 10px;
    }

    img{
        color: $strongCyan;
    }
}